<html>
    <head>
        <meta charset="utf-8">
        <title>외식 산업 창업 Helper</title>
        <style>
            h1{text-align: center;}
            hr{
                width:50%;
                background-color:rgb(57,111,211);
                margin-left: auto;
                margin-right: auto;
            }
            img{
                display: block;
                margin: auto;
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <h1>외식 산업 창업 Helper</h1>
        <hr size="7">
        <a href="http://127.0.0.1:5000/news">
            <img src="../static/src/img/news_img.png" alt="오늘의 뉴스">
        </a>
        <a href="http://127.0.0.1:5000/policy">
            <img src="../static/src/img/policy_img.png" alt="정책">
        </a>
        <a href="http://127.0.0.1:5000/dashboard">
            <img src="../static/src/img/dashboard_img.png" alt="분석 대시보드">
        </a>
    </body>
</html>